*{
    margin:0; padding:0;
    box-sizing: border-box;
    text-transform: capitalize;
    font-family: Arial, Helvetica, sans-serif;
    transition: all 0.5s cubic-bezier(0,1.57,0.67,1.18);
}

.box-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #ccc;
}

.box{
    flex:1 1 300px;
    background-color: #fff;
    border:1px solid rgba(0,0,0,0.3);
    position:relative;
    overflow: hidden;
    margin:20px;
}

.box .image{
    padding: 10px;
    background-color: #eee;
    text-align: center;
}

.box .image img{
    height: 200px;
    width: 250px;
    object-fit: cover;
    filter: drop-shadow(0 3px 5px rgba(0,0,0,0.7));
}

.box .info .title{
    padding: 10px;
    color: #666;
    font-size: 20px;
}

.box .info .subInfo{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 10px;
    border-top: 1px solid rgba(0,0,0,0.3);
}

.box .info .subInfo .price{
    color:#ff3300;
    font-size: 22px;
}

.box .info .subInfo .price span{
    font-size: 15px;
    color:#999;
    text-decoration: line-through;
}

.box .info .subInfo .stars i{
    color: orange;
    font-size: 16px;
    text-decoration: none;
}

.box .overlay{
    position: absolute;
    top:0; left:0;
    height:223px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: none;
    transform: scale(0);
}

.box .overlay{
    transform: scale(1);
}

.box .overlay a{
    color:white;
    background-color: rgba(0,0,0,0.5);
    margin: 10px;
    text-decoration: none;
    padding: 13px 15px;
    font-size: 25px;
    transform: translateY(-150px);
    transition-property: transform;
    transition-delay: calc(.1s * var(--i));
}

.box .overlay a:hover{
    color: yellow;
}

.box:hover .overlay a{
    transform: translateY(0);
}

.box .cart{
    display: block;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 30px;
}

.box .cart a{
    text-decoration: none;
    background-color: yellow;
    color: black;
    padding: 7px 20px;
    border-radius: 50px;
    letter-spacing: 2px;
    margin: 20px 0;
    font-weight: 600;
}

.box .cart a:hover{
    background-color: black;
    color: yellow;
    transition: 0.3s;
}